body{
  margin: 0%;
}

header{
  background-color: rgb(242, 84, 84);
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;

}

header > img {
  width: 24px;
  margin-right: 10px;
}

header > h1 {
  font-size: 1.5rem;
  font-weight: 500;
  
}


article.journal-entry {
    display: flex;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 36px;
}

article.journal-entry .marker {
    width: 7px;
    margin-right: 4px;
}

article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}








*,
*::before,
*::after {
  box-sizing: border-box;
}



.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full viewport height */
}

form {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin: 30px auto;
  background-color: #ffeaea;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  box-sizing: border-box; /* just in case */
}



form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #d63447;
}

form input[type="text"],
form input[type="file"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  box-sizing: border-box;
}


form textarea {
  resize: vertical;
  min-height: 100px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #d63447;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #b02a37;
}

form img {
  display: block;
  margin: 10px auto;
  border-radius: 8px;
  max-width: 100%;
}






